<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <style>
    .container {
      width: 100%;
      font-family: Arial, Helvetica, sans-serif;
    }

    img {
      margin-bottom: 20px;
    }
  </style>
</head>

<body>
  <div class="container">
    <div>
      <img src="https://i.imgur.com/oUAKMC5.png" alt="RentX">

    </div>
    <p>Oi, {{name}}</p>


    <p>Uma alteração de senha foi solicitada.</p>
    <p>Clique no link para realizar a troca <a href={{link}}>{{link}}</a></p>

    <p>Se não foi você que solicitou, ignore esse email.</p>

    <p>
      Obrigado!
      <br />
      <strong>Equipe RentX</strong>
    </p>
  </div>
</body>

</html>